<div class  "page-header" > 
    <h1>Edit Office</h1>
</div>

<br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link PrimaryInfoTab" ng-click="editOffice.PrimaryInfoPhase();" ng-class="PrimaryInfoTab" data-toggle="tab" href="#" role="presentation" aria-controls="PrimaryInfoTab">Primary Information</a>
    <a class="nav-item nav-link AdditionalInfoTab" ng-click="editOffice.AdditionalInfoPhase();" ng-class="AdditionalInfoTab" data-toggle="tab" href="#" role="presentation" aria-controls="AdditionalInfoTab">Additional Information</a>
  </div>
</nav>


<form name="editOffice.PrimaryInfoForm" ng-show="editOffice.phase1" ng-submit="editOffice.updatePrimaryInfo(newPrimaryInfo, editOffice.PrimaryInfoForm.$valid)" novalidate>
    <div ng-class="{ 'has-success':(editOffice.PrimaryInfoForm.officename.$valid && !editOffice.PrimaryInfoForm.officename.$pristine), 'has-error':(!editOffice.PrimaryInfoForm.officename.$valid && !editOffice.PrimaryInfoForm.officename.$pristine) || (!PrimaryInfoForm.officename.$valid && PrimaryInfoForm.$submitted) }">
        <label>Office Name:</label>
        <input ng-disabled="editOffice.disabled" class="form-control" type="text" name="officename" placeholder="please enter office name" ng-model="newPrimaryInfo.officename" ng-pattern="/^[a-zA-Z\d\-_\s]+$/" required>
        <p class="help-block" ng-show="(!editOffice.PrimaryInfoForm.officename.$pristine && PrimaryInfoForm.officename.$error.required) || (editOffice.PrimaryInfoForm.$submitted && editOffice.PrimaryInfoForm.officename.$error.required)">This field is required</p>
        <ul ng-show="(!editOffice.PrimaryInfoForm.officename.$pristine && editOffice.PrimaryInfoForm.officename.$error.pattern)" class="help-block">
            <li> Must not contain any special characters</li>
        </ul>
    </div>

    <div ng-class="{ 'has-success':(editOffice.PrimaryInfoForm.website.$valid && !editOffice.PrimaryInfoForm.website.$pristine), 'has-error':(!editOffice.PrimaryInfoForm.website.$valid && !editOffice.PrimaryInfoForm.website.$pristine) || (!PrimaryInfoForm.website.$valid && PrimaryInfoForm.$submitted) }">
        <label>Office Website:</label>
        <input ng-disabled="editOffice.disabled" class="form-control" type="text" name="website" placeholder="please enter office website" ng-model="newPrimaryInfo.website" ng-pattern="/((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)/" required>
        <p class="help-block" ng-show="(!editOffice.PrimaryInfoForm.website.$pristine && PrimaryInfoForm.website.$error.required) || (editOffice.PrimaryInfoForm.$submitted && editOffice.PrimaryInfoForm.website.$error.required)">This field is required</p>
        <ul ng-show="(!editOffice.PrimaryInfoForm.website.$pristine && editOffice.PrimaryInfoForm.website.$error.pattern)" class="help-block">
            <li> Please enter valid website format</li>
        </ul>
    </div>
    <br>
    <!-- Submit Button -->
    <button ng-disabled="editOffice.disabled" class="btn btn-primary" type="submit">Update</button>
</form>

<form name="editOffice.AdditionalInfoForm" ng-show="editOffice.phase2" ng-submit="editOffice.updateAdditionalInfo(newAdditionalInfo, editOffice.AdditionalInfoForm.$valid)" novalidate>
    <div>Placeholder</div>

    <br>
</form>

<br>

<!-- Custom Success Message -->
<div class="row show-hide-message" ng-show="editOffice.successMsg">
    <div class="alert alert-success">{{ editOffice.successMsg }}</div>
</div>
<!-- Custom Success Message -->

<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="editOffice.errorMsg">
    <div class="alert alert-danger">{{ editOffice.errorMsg }}</div>
</div>
<!-- Custom Error Message -->
